<main class="card-container">

    <!-- Card 1 -->
    <div class="card" oncontextmenu="return false;">

        <header>
            <p>Supervisor</p>
        </header>

        <p>Monitors activity to identify project roadblocks</p>

        <img src="../../assets/images/icon-supervisor.svg" alt="super visor" />

    </div>

    <!-- Card 2 -->
    <div class="card" oncontextmenu="return false;">

        <header>
            <p>Team Builder</p>
        </header>

        <p>Scans our talent network to create the optimal team for your project</p>

        <img src="../../assets/images/icon-team-builder.svg" alt="icon team builder" />

    </div>

    <!-- Card 3 -->
    <div class="card" oncontextmenu="return false;">

        <header>
            <p>Karma</p>
        </header>

        <p>Regularly evaluates our talent to ensure quality</p>

        <img src="../../assets/images/icon-karma.svg" alt="icon karma" />

    </div>

    <!-- Card 4 -->
    <div class="card" oncontextmenu="return false;">

        <header>
            <p>Calculator</p>
        </header>

        <p>Uses data from past projects to provide better delivery estimates</p>

        <img src="../../assets/images/icon-calculator.svg" alt="icon calculator" />

    </div>

</main>
