<!-- Container -->
<!-- default display == flex-->
<div class="container">

  <header>
    <p>
      Reliable, efficient delivery
    </p>
    <p>
      Powered by Technology
    </p>
  </header>

  <section>
    <p>
      Our Artificial Intelligence powered tools use millions of project data points 
      to ensure that your project is successful
    </p>
  </section>

  <!-- default display == flex for screens =< 480px -->
  <!-- screens => 481px, display == grid -->
  <main>
    <app-content></app-content>
  </main>

  <footer>
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="https://github.com/Kennedy-was-taken/four-card-feature-section-master">Tokelo</a>.
    </p>
  </footer>
</div>